In [7]:
import quandl
quandl.ApiConfig.api_key = "d74vRZ6prcs1hPREziKz"
import numpy as np
import pandas as pd

In [8]:
prices = quandl.get_table('SHARADAR/SEP', ticker=['TSLA', 'XOM'], date={'gte':'2017-01-01', 'lte':'2018-12-31'}, paginate=True)

In [9]:
prices.head()

,ticker,date,open,high,low,close,volume,dividends,closeunadj,lastupdated
None,,,,,,,,,,
0,XOM,2018-12-31,68.32,69.145,67.66,68.19,15609337.0,0.0,68.19,2018-12-31
1,XOM,2018-12-28,69.18,69.580,67.82,68.17,19617793.0,0.0,68.17,2018-12-28
2,XOM,2018-12-27,67.74,68.940,66.08,68.94,21315318.0,0.0,68.94,2018-12-27
3,XOM,2018-12-26,66.18,68.655,64.65,68.64,24403048.0,0.0,68.64,2018-12-26
4,XOM,2018-12-24,66.87,67.530,65.44,65.51,14262074.0,0.0,65.51,2018-12-28

In [10]:
pivoted = prices.pivot(index='date', columns='ticker', values='close')

In [11]:
pivoted.head()

ticker        TSLA    XOM
date
2017-01-03  216.99  90.89
2017-01-04  226.99  89.89
2017-01-05  226.75  88.55
2017-01-06  229.01  88.50
2017-01-09  231.28  87.04

In [12]:
df = pivoted.pct_change()
df.head()

ticker          TSLA       XOM
date
2017-01-03       NaN       NaN
2017-01-04  0.046085 -0.011002
2017-01-05 -0.001057 -0.014907
2017-01-06  0.009967 -0.000565
2017-01-09  0.009912 -0.016497

# Variance

$$s^2 = \frac{\sum_{i=1}^N (x_i - \bar{x})^2}{N-1}$$

# Standard Deviation

$$s = \sqrt{\frac{\sum_{i=1}^N (x_i - \bar{x})^2}{N-1} }$$

# Covariance

$$COV_{ij} = \frac{\sum_{i=1j=1}^N (x_i - \bar{x_i})(x_j - \bar{x_j})}{N-1}$$

# Correlation

$$p(R_i,R_j) = \frac{COV(R_i, R_j)}{\sigma_i \sigma_j}$$

In [13]:
var_tsla = df['TSLA'].var()
var_tsla

0.0009281656143258831

In [14]:
var_xom = df['XOM'].var()
var_xom

0.00012106826665435044

In [15]:
sd_tsla = df['TSLA'].std()
sd_tsla

0.030465810580483216

In [17]:
sd_xom = df['XOM'].std()
sd_xom

0.011003102592194187

In [19]:
df['TSLA'].cov(df['XOM'])/(sd_tsla*sd_xom)

0.21402202189041125

In [20]:
df['TSLA'].corr(df['XOM'])

0.21402202189041125