In [1]:
import quandl
quandl.ApiConfig.api_key = "yd34PjvMNWAV1D3FJs8t"
import numpy as np
import pandas as pd

In [9]:
prices = quandl.get_table('SHARADAR/SEP', ticker=['AAPL', 'NKE'], date={'gte':'2010-01-01', 'lte':'2018-12-31'}, paginate=True)

In [10]:
prices.shape

(164, 10)

In [6]:
pivoted = prices.pivot(index='date', columns='ticker', values='close')

In [7]:
pivoted.shape

(82, 2)

# Portfolio Expected Return

$$E(R_p) = w_1E(R_1) + w_2E(R_2) + ... + w_nE(R_n)$$

In [48]:
df = pivoted.resample('D').last().pct_change()
df

ticker          AAPL       NKE
date
2018-09-04       NaN       NaN
2018-09-05 -0.006525  0.004020
2018-09-06 -0.016617  0.006006
2018-09-07 -0.008068 -0.001244
2018-09-08  0.000000  0.000000
2018-09-09  0.000000  0.000000
2018-09-10 -0.013421  0.022416
2018-09-11  0.025283  0.006456
2018-09-12 -0.012419  0.004478
2018-09-13  0.024155  0.005663
2018-09-14 -0.011351  0.000240
2018-09-15  0.000000  0.000000
2018-09-16  0.000000  0.000000
2018-09-17 -0.026626 -0.002755
2018-09-18  0.001652  0.024021
2018-09-19  0.000596 -0.009735
2018-09-20  0.007602  0.011133
2018-09-21 -0.010771  0.002108
2018-09-22  0.000000  0.000000
2018-09-23  0.000000  0.000000
2018-09-24  0.014380 -0.014962
2018-09-25  0.006341  0.006171
2018-09-26 -0.007966 -0.012855
2018-09-27  0.020552  0.010036
2018-09-28  0.003512  0.002129
2018-09-29  0.000000  0.000000
2018-09-30  0.000000  0.000000
2018-10-01  0.006733 -0.003069
2018-10-02  0.008888 -0.020009
2018-10-03  0.012169 -0.003262
...              ...       ...
2018-12-02  0.000000  0.000000
2018-12-03  0.034942  0.037540
2018-12-04 -0.043989 -0.027585
2018-12-05  0.000000  0.000000
2018-12-06 -0.011149 -0.003299
2018-12-07 -0.035657 -0.029124
2018-12-08  0.000000  0.000000
2018-12-09  0.000000  0.000000
2018-12-10  0.006588 -0.011317
2018-12-11 -0.005719  0.014619
2018-12-12  0.002787  0.010194
2018-12-13  0.010940 -0.018703
2018-12-14 -0.031998 -0.005485
2018-12-15  0.000000  0.000000
2018-12-16  0.000000  0.000000
2018-12-17 -0.009306 -0.036261
2018-12-18  0.012993  0.017883
2018-12-19 -0.031192 -0.030639
2018-12-20 -0.025235 -0.020879
2018-12-21 -0.038896  0.071672
2018-12-22  0.000000  0.000000
2018-12-23  0.000000  0.000000
2018-12-24 -0.025874 -0.059002
2018-12-25  0.000000  0.000000
2018-12-26  0.070422  0.072100
2018-12-27 -0.006490  0.009040
2018-12-28  0.000512 -0.004479
2018-12-29  0.000000  0.000000
2018-12-30  0.000000  0.000000
2018-12-31  0.009665  0.010908

[119 rows x 2 columns]

In [23]:
e_r = df.mean()
e_r

ticker
AAPL   -0.110407
NKE    -0.042079
dtype: float64

In [16]:
w = [.75, .25]

In [21]:
(e_r*w).sum()

0.38452934397604704

In [22]:
np.dot(w,e_r)

0.38452934397604704

In [23]:
e_r['AAPL'] = .12

In [24]:
e_r

ticker
AAPL    0.120000
NKE     0.161956
dtype: float64

In [25]:
np.dot(w,e_r)

0.13048887742560072