In [1]:
import quandl
quandl.ApiConfig.api_key = "d74vRZ6prcs1hPREziKz"
import numpy as np
import pandas as pd

In [2]:
prices = quandl.get_table('SHARADAR/SEP', ticker=['AAPL', 'NKE'], date={'gte':'2000-01-01', 'lte':'2018-12-31'}, paginate=True)

In [3]:
prices.head()

,ticker,date,open,high,low,close,volume,dividends,closeunadj,lastupdated
None,,,,,,,,,,
0,NKE,2018-12-31,73.98,74.46,73.515,74.14,5508027.0,0.0,74.14,2018-12-31
1,NKE,2018-12-28,73.97,74.46,72.570,73.34,6195863.0,0.0,73.34,2018-12-28
2,NKE,2018-12-27,72.18,73.73,70.990,73.67,8797973.0,0.0,73.67,2018-12-27
3,NKE,2018-12-26,68.70,73.01,68.650,73.01,9757461.0,0.0,73.01,2018-12-26
4,NKE,2018-12-24,71.40,71.93,68.080,68.10,8551422.0,0.0,68.10,2018-12-28

In [4]:
pivoted = prices.pivot(index='date', columns='ticker', values='close')

In [5]:
pivoted.head()

ticker       AAPL    NKE
date
2000-01-03  3.998  6.015
2000-01-04  3.661  5.688
2000-01-05  3.714  6.016
2000-01-06  3.393  5.985
2000-01-07  3.554  5.985

In [6]:
cov_matrix = pivoted.pct_change().apply(lambda x: np.log(1+x)).cov()
cov_matrix

ticker      AAPL       NKE
ticker
AAPL    0.000720  0.000131
NKE     0.000131  0.000358

# Portfolio Variance

$$\sigma^2(R_p) = w_1w_1\sigma^2(R_1) + w_1w_2COV(R_1,R_2) + w_2w_2\sigma^2(R_2) + w_2w_1COV(R_1,R_2)$$

$$\sigma^2(R_p) = \sum_{i=1}^n\sum_{j=1}^nw_iw_jCOV(R_i, R_j)$$

# Portfolio Standard Deviation

$$\sigma(R_p) = \sqrt{\sigma^2(R_p)}$$

In [7]:
w = {'AAPL':.75, 'NKE':.25}

In [11]:
cov_matrix.mul(w, axis=0).mul(w, axis=1).sum().sum()

0.0004765148759613379